{% extends "base.html" %}
{% block title %}Feed - Transit Travel Forum{% endblock %}
{% block content %}
  <div class="feed-container">
    <div class="post">
      <img src="https://via.placeholder.com/250x150" alt="Travel Pic">
      <div class="text">
        <h2>Trip to Paris</h2>
        <p>This is a post about my trip to Paris! Beautiful city.</p>
        <div class="actions">
          <i class="fa-regular fa-heart"></i>
          <i class="fa-regular fa-comment"></i>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
